{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>User</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Roles</th>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td>{{ user.password }}</td>
                </tr>
            </tbody>
        </table>

        <a class="btn btn-primary" href="{{ path('app_user_crud_index') }}">Retour à la liste</a>

        <a class="btn btn-warning" href="{{ path('app_user_crud_edit', {'id': user.id}) }}">Edit</a>

        {{ include('user_crud/_delete_form.html.twig') }}
    </div>
{% endblock %}
